<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <link rel="icon" type="image/svg+xml" href="/vite.svg" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>my_frame_frontend</title>
  <script type="module" crossorigin src="/assets/index-DD5Nbu6B.js"></script>
  <link rel="stylesheet" crossorigin href="/assets/index-CYcXCw89.css">
  <style>
    body {
      margin: 0;
      display: flex;
      place-items: center;
      min-width: 320px;
      min-height: 100vh;
      background-color: #242424;
      /* Fallback */
    }

    #root {
      max-width: 1280px;
      margin: 0 auto;
      padding: 2rem;
      text-align: center;
      width: 100%;
      /* Ensure full width for flex child */
    }
  </style>
</head>

<body>
  <div id="root"></div>
</body>

</html>